/* #2B0F2D */
/* color: rgb(57 3 57); */
:root{
    --primary:#800080;
    --primary-shade: rgb(57 3 57 / 85%);
    /* --font-color: */
    --white-color:#fff;

    --transition: 0.3s ease-in-out;
}

*{
    font-size: 1rem;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    font-family: "Cuprum", sans-serif;

}

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}

/* --- Reusable Code --- */
.sec-padding{
    padding: 3rem 0;
}

.btn{
    padding: 0.5rem 1rem;
    background: var(--primary);
    border-radius: 0.5rem;
    color: var(--white-color);
    transition: var(--transition);
}

.btn:hover{
    background: var(--primary-shade);
    color: var(--white-color);
}


/* --- header --- */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 999;
    transition: var(--transition);
}

.h-scroll{
    padding: 1rem 0;
    background: var(--white-color);
    box-shadow: 5px 3px 40px hsla(191, 100%, 17%, 0.1);
    /* border-bottom: 1px solid #c9c8c8; */
    /* -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px); */
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-form{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-bx img{
    width: 230px;
    position: relative;
}

.menue-bar-bx{
    cursor: pointer;
}


.menue-bar-bx span i{
    font-size: 2rem;
    color: var(--primary);
}

.menue-bar-bx .open-menue{
    transform: rotate(-90deg);
    display: block;
}

.close-menue {
    position: absolute;
    top: 30px;
    right: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid #ebebeb;
    color: var(--white-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-menue i{
    font-size: 2rem;
}

.main-menu-bx {
    position: fixed;
    top: -110px;
    right: -80px;
    height: 150px;
    width: 150px;
    border-radius: 300px 0 300px 300px;
    background: rgb(57 3 57);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    overflow: hidden;
}

.main-menu-bx.active{
    visibility: visible;
    opacity: 1;
    height: 100%;
    width: 100%;
    border-radius: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

nav ul li{
    margin-bottom: 0.5rem;
}

nav ul li a{
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 600;
}
nav ul li a:hover{
    color: var(--white-color);
}

/* --- Hero -Section --- */

.hero-sec{
    position: relative;
    background: url('../img/hero-img1.jpg');
    background-size: cover;
    background-position: 50% -9%;
    overflow: hidden;

}

.hero-sec::before{
    content: ' ';
    position: absolute;
    top: -200px;
    right: -32px;
    height: 455px;
    width: 455px;
    box-shadow: 0 0 30px rgba(165, 199, 250, 0.149);
    border-radius: 100%;
    background: rgb(165 199 250 / 14%);
}

.hero-content-main{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: transparent;
}

.hero-content-bx small{
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    color: var(--primary-shade);
    font-weight: bold;
}

.hero-content-bx h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #121212;
}

.hero-content-bx p{
    margin-bottom: 2rem;
    line-height: 1.6;
}

.hero-content-bx .btn{
    padding: 0.7rem 0;
    width: 190px;
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.hero-content-bx .btn span {
    font-size: 1.3rem;
    transform: rotate(-45deg);
    transition: var(--transition);
}
.hero-content-bx .btn:hover span{
    transform: rotate(0);
}
.hero-content-bx .btn span i{
    font-size:1.3rem;
}
