/* #2B0F2D */
/* color: rgb(57 3 57); */
:root{
    --primary:#800080;
    --primary-shade: rgb(57 3 57 / 85%);
    --font-color: #2C2C2C; 
    --white-color:#fff;
    --para-color:#777;

    --transition: 0.3s ease-in-out;
}

*{
    font-size: 1rem;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    font-family: "Cuprum", sans-serif;
    color: var(--font-color);
    /* background: rgba(225, 225, 225, 0.749); */
}

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}

h2{
    font-size: 4rem;
    font-weight: 500;
    color: #121212;
    margin-bottom: 2rem;
}

.container-fluid{padding: 0 3rem;}

/* --- Reusable Code --- */
.sec-padding{
    padding: 5rem 0;
}

.btn{
    padding: 0.5rem 1rem;
    background: var(--primary);
    border-radius: 0.5rem;
    color: var(--white-color);
    transition: var(--transition);
}

.btn:hover{
    background: var(--primary-shade);
    color: var(--white-color);
}

small{
    display: block;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.btn-all {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 0px;
    border-radius: 0.5rem;
    gap: 0.5rem;
    color: var(--white-color);
    transition: var(--transition);
    background: var(--primary);
}

.btn-all:hover{
    background: var(--primary-shade);
    color: var(--white-color);
    border-radius: 0; 
}

.btn-all span {
    font-size: 1.3rem;
    transform: rotate(-45deg);
    transition: var(--transition);
}

.btn-all:hover span{
    transform: rotate(0);
}

.heading-bx {
    margin-bottom: 3rem;
}

.txt-color{
    /* color: var(--primary); */
    font-size:8rem ;
}




/* --- header --- */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 999;
    transition: var(--transition);
    
}

.h-scroll{
    padding: 1rem 0;
    background: var(--white-color);
    box-shadow: 5px 3px 40px hsla(191, 100%, 17%, 0.1);
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-form{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-bx img{
    width: 230px;
    position: relative;
}

.menue-bar-bx{
    cursor: pointer;
}


.menue-bar-bx span i{
    font-size: 2rem;
    color: var(--primary);
}

.menue-bar-bx .open-menue{
    transform: rotate(-90deg);
    display: block;
}

.close-menue {
    position: absolute;
    top: 30px;
    right: 50px;
    height: 50px;
    width: 50px;
    border: 1px solid #ebebeb;
    color: var(--white-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-menue i{
    font-size: 2rem;
}

.main-menu-bx {
    position: fixed;
    top: -110px;
    right: -80px;
    height: 150px;
    width: 150px;
    border-radius: 300px 0 300px 300px;
    background: rgb(57 3 57);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    overflow: hidden;
}

.main-menu-bx.active{
    visibility: visible;
    opacity: 1;
    height: 100%;
    width: 100%;
    border-radius: 0;
    top: 0;
    right: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


nav ul li a{
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    transition: .3s ease;
}
nav ul li a:hover{
    color: #d946ef;
}

/* --- Hero -Section --- */

/* .hero-sec{
    position: relative;
    background: rgb(246, 247, 252);
    background: radial-gradient(circle,rgba(166, 5, 166, 0.52) 0%, rgba(246, 247, 252, 1) 52%, rgba(246, 247, 252, 0.83) 100%);
     background: #e8e8e8;
  background: radial-gradient(
    circle,
    rgba(232, 232, 232, 1) 0%,
    rgba(183, 183, 183, 1) 100%
  );
  height: 100vh;
} */

.hero-sec{
    background: url("../img/herobg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 80%;
}

.hero-sec::before{
    content: ' ';
    position: absolute;
    top: 32px;
    right: 387px;
    height: 580px;
    width: 580px;
    border-radius: 100%;
    z-index: -1;
}

.hero-content-main{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: transparent;
}

/* .hero-content-bx{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 77px;
} */

.hero-content-bx small{
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    border: inherit;
    color: var(--primary-shade);
}

.hero-content-bx h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--primary);
    /*color: #121212;
    text-align: center;
    max-width: 980px; */
}

.hero-content-bx p{
    margin-bottom: 2rem;
    line-height: 1.6;
    /* text-align: center; */
    font-size: larger;
}

.hero-content-bx .btn span i{
    font-size:1.3rem;
}

/* --- About Section --- */

/* .about-sec{
    background: url('../img/abtbg-img.png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: 5% -8%;
} */

.we-are-content{
    text-transform: uppercase;
    border: 1px solid var(--primary);
    padding: 0.8rem 1.2rem;
    font-weight: 600;
    border-radius: 2rem;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 1rem;
}

.about-sec .content-bx{
    margin: 0;
}

.about-sec .content-bx p{
    color: var(--para-color);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4;
}

.abt-title{
    padding-left: 3rem;
    font-size: 4rem;
}

.content-bx h2{
    font-size: 4rem;
}

.content-bx{
    margin-top: 2rem;
}

.content-bx p{
    margin-bottom: 2rem;
    line-height: 1.6;
}

/* --- Services Section --- */

.srvc-content-bx{
    padding: 1rem;
    position: relative;
}

.srvc-content-bx span{
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0 0 0 / 9%);
    font-size: 4rem;
    display: block;
    margin-bottom: 0.5rem;
    position: absolute;
    top: -40px;
    left:0;
    height: 80px;
    width: 80px;
}
.srvc-content-bx h6{
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.srvc-content-bx p{
    line-height: 1.6;
}

.srvc-padding{
    padding: 0 5rem !important;
}



/* --- professional Services Section --- */

.prf-srvc-sec{
    background: rgb(246, 247, 252);
    /* border-radius: 16px; */
    border-top: 1px solid rgba(10, 15, 31, 0.05);
    border-bottom: 1px solid rgba(10, 15, 31, 0.05);
}

.prfs-content-bx p{
    margin-top: 3rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.prfs-srvc-points {
    background: var(--white-color);
    padding: 1.5rem;
    /* box-shadow: 0 0 20px rgb(246, 247, 252); */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.13);
    border-radius: 0.5rem;
}

.prfs-srvc-points ul li{
    border-bottom: 1px solid #c9c9c9;
    padding: 0.8rem 0;
}

.prfs-srvc-points ul li:last-child{
     border-bottom: none;
}

.prfs-srvc-points ul li span{
    color: var(--primary);
}

.revenue-sec .prfs-content-bx{
    padding-left: 3rem;
}

.revenue-sec{
    background: url('../img/revenu.png');
    background-position: 50% -50%;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.revenue-sec:hover{
    background-position: 50% -10%;
}



/* --- Capabilities --- */

.service-item{
    padding: 1.5rem 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: .5s ease-in-out;

}

.service-item:hover{
    background: var(--primary);
    color: var(--white-color);
    padding-left: 1rem;
}

.service-item:last-child{
    border-bottom: none;
}

.image-box img{
    padding: 0 0.5rem;
}

.image-box img{
    /* filter: brightness(0) saturate(100%) invert(22%) sepia(92%) saturate(3533%) hue-rotate(287deg) brightness(50%) contrast(90%); */
    width: 100%;
    /* display: block;
    margin: 0 auto; */
    height: 630px;
    object-fit: cover;
    transition: opacity .3s ease;
}

/* --- FAQ'S Section --- */

.acc-bx{
    border: 1px solid #ebebeb;
    margin-bottom: 1rem;
}

.acc-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    padding: 1rem 1rem;    
    position: relative;
    cursor: pointer;
} 
.acc-bx.active .acc-label{
    background: var(--primary-shade);
    color: var(--white-color);
}

.acc-label::after{
    content: '+';
    top:0;
    right: 0;
}

.active.active .acc-label::after{
    content: '-';
    top:0;
    right: 0;
}

.acc-text{
    max-height: 0;
    visibility: hidden;
    opacity: 0;
}

.active.active .acc-text{
    max-height: 900px;
    visibility: visible;
    opacity: 1;
    padding: 1rem;
}